body{
    background-color: #f5b45e
}
.container{
   background-color: #f19c2e;
height: 400px;
width: 400px;
border-radius: 7%;
margin-left: 35%;
margin-top: 100px;
}
#form1{
justify-content: center;
align-items: center;
padding-top: 100px;
text-align: center;



}
.container1{
background-color: #f19c2e;
width: 400px;
height: 500px;
margin-left: 35%;
margin-top: 50px;
border-radius: 7%;

}

#form2{
justify-content: center;
align-items: center;
padding-top: 10px;
text-align: center;
}